@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.whitespace-nowrap { white-space: nowrap; }

@keyframes fadein {
    from {
        opacity:0;
        transform: translateX(30%);
    }
    to {
        opacity:1;
        transform: translateX(0);
    }
}

@keyframes fadein-left {
    from {
        opacity:0;
        transform: translateX(-30%);
    }
    to {
        opacity:1;
        transform: translateX(0);
    }
}

@font-face {
    font-family: 'PoiretOne';
    src: url('/assets/fonts/PoiretOne-Regular.eot');
    src: url('/assets/fonts/PoiretOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/PoiretOne-Regular.woff2') format('woff2'),
        url('/assets/fonts/PoiretOne-Regular.woff') format('woff'),
        url('/assets/fonts/PoiretOne-Regular.ttf') format('truetype'),
        url('/assets/fonts/PoiretOne-Regular.svg#PoiretOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
	font-family:'Jost' !important;
	font-weight: 200 !important;
}

#sunday .sunday-tab>div {
  opacity: 0;
  animation: fadein .4s forwards;
}

#sunday .sunday-tab>:nth-child(1) { animation-delay: .0s; }
#sunday .sunday-tab>:nth-child(2) { animation-delay: .1s; }
#sunday .sunday-tab>:nth-child(3) { animation-delay: .2s; }
#sunday .sunday-tab>:nth-child(4) { animation-delay: .3s; }
#sunday .sunday-tab>:nth-child(5) { animation-delay: .4s; }
#sunday .sunday-tab>:nth-child(6) { animation-delay: .5s; }

#sunday .sunday-tab:last-child {
  display: none;
}

#sunday:target .sunday-tab:last-child {
  display: block;
}

#sunday:target .sunday-tab:first-child {
  display: none;
}

#sunday:target .sunday-wrapper>div:first-child h1 {
  color: #cbd5e0;
}

#sunday:target .sunday-wrapper>div:last-child h1 {
  color: black!important;
}

#sunday .sunday-wrapper>div h1:hover {
  color: #718096!important;
}

#sunday:not(:target) .sunday-wrapper>div:first-child h1:hover {
  color: black!important;
}

.menu-button {
  position: fixed;
  z-index: 12;
  right: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0.6;
  transition: .15s all;
}


#boys .sunday-tab>div {
  opacity: 0;
  animation: fadein .4s forwards;
}

#boys .sunday-tab>:nth-child(1) { animation-delay: .0s; }
#boys .sunday-tab>:nth-child(2) { animation-delay: .1s; }
#boys .sunday-tab>:nth-child(3) { animation-delay: .2s; }
#boys .sunday-tab>:nth-child(4) { animation-delay: .3s; }
#boys .sunday-tab>:nth-child(5) { animation-delay: .4s; }
#boys .sunday-tab>:nth-child(6) { animation-delay: .5s; }

#boys .sunday-tab:last-child {
  display: none;
}

#boys:target .sunday-tab:last-child {
  display: block;
}

#boys:target .sunday-tab:first-child {
  display: none;
}

#boys:target .sunday-wrapper>a:first-child h1 {
  color: #cbd5e0;
}

#boys:target .sunday-wrapper>a:last-child h1 {
  color: rgb(62, 63, 66)!important;
}

#boys .sunday-wrapper>a h1:hover {
  color: #718096!important;
}

#boys:not(:target) .sunday-wrapper>a:first-child h1:hover {
  color: rgb(62, 63, 66)!important;
}




.menu-button:hover, #menu-input:checked~.menu-button {
  opacity: 1;
  z-index: 12;
}

.menu {
  width: 102%;
  max-width: 102%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: -100%;
  opacity: 0;
  background-size: 100% auto;
  background-repeat: repeat-y;
  transition: .2s all;
  z-index: 11;

  align-items: center;
  justify-content: center;
  box-shadow: 2.5px 0px 15px rgba(0, 0, 0, .5);
  padding-right: .5rem;
  padding-left: .5rem;
  background-color: #364147;
}

@media (min-width: 640px) {
  .menu {
  background-image: url('/assets/-film.svg');
    width: 28rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: transparent;
  }
}

#menu-input:checked~.menu {
  top: 0;
  opacity: 1;
}

.logo-subtitle {
  bottom: 15px;
}

.burger-bar {
  position: absolute;
  width: 50%;
  left: 24.75%;
  height: 3px;
  top: 50%;
  border-radius: 3px;
  transition: .15s all;
}

.burger-bar:first-child {
  top: 33%;
}

.burger-bar:last-child {
  top: 66%;
}

#menu-input:checked~.menu-button .burger-bar:first-child { opacity: 0; top: 0; }
#menu-input:checked~.menu-button .burger-bar:last-child { opacity: 0; top: 100%; }

.fadein {
  opacity: 0;
  animation: fadein .4s forwards;
}
.fadein-left {
  opacity: 0;
  animation: fadein .4s forwards;
}

@media (min-width: 640px) {
  .fadein-left {
    opacity: 0;
    animation: fadein-left .4s forwards;
  }
}

.menu-link {
  position: relative;
}

.menu-link:hover {
  transform: translateX(2rem);
}

.menu-link::before {
  content: " – ";
  display: inline;
  opacity: 0;
  transition: .2s all;
  position: absolute;
  left: -1.75rem;
}

.menu-link:hover::before {
  opacity: 1;
}

.background-primary { background: #f7c509; }

@keyframes scroll-background {
  0% { background-position: 0 0; }
  100% { background-position: -4000px 0; }
}
.scroll-background { 
  background-repeat: repeat-x;
  background-size: cover;
  animation: scroll-background 480s linear infinite; }

.h-100 { height: 25rem; }
.h-128 { height: 32rem; }

.top-top {
  top: -0.75px;
}

.menu-social {
  transform: translateY(0);
  border-bottom: 1px solid transparent;
  transition: .15s all;
}

.menu-social:hover {
  transform: translateY(-10%);
  border-bottom-color: white;
}

.timetable-block a:hover {
  color: black!important;
  text-decoration: underline!important;
}
.filters {
	display: none;
	position: relative;
}

.vk-link svg path {
  fill: #FFF;
}

.vk-link:hover svg path {
  fill: #f7c509;
}

footer .menu-social:hover {
  border-bottom-color: #FFF;
}


footer .vk-link svg path {
  fill: #FFF;
}

footer .vk-link:hover svg path {
  fill: #FFF;
}

.pane {
  border-radius: 0!important;
  z-index: 12 !important;
}
.blackout {
	display: block;
	width: 100%;
	height: 100%;
	background: #000;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
}
.blackout.hidden {
	display: none;
}
.blackout a {
    color: #fff;
    margin: 50px auto;
    display: block;
    width: 300px;
    text-align: center;
    border: 2px solid #fff;
    max-width: 70%;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold; 
}
.filterselect {
	display: inline-block;
	width: 30%;
	margin-right: 3%;
}
.filterselect select {
	width: 100%;
}
.filters {
	margin-bottom: 50px;
}
.hiddenh, .hiddena {
	display: none !important;
}
#resetfilters {
	text-decoration: underline;
	display: block;
	margin-top: 15px;
}
#resetfilters:hover {
	cursor: pointer;
	text-decoration: none;
}
@media (max-width: 640px) {
	.filterselect {
		display: block;
		width: 100%;
		margin-right: 0;
	}
	.embla__slide img {
		height: 100% !important;
		width: auto !important;
	}
	.embla__slide {
		width: 100%;
	}
	.sunday-tab .mb-8 {
		margin: 0 0 0px 0;
	}
	.sunday-tab .mb-8:nth-of-type(odd) {
		margin-right: 0 !important;
	}
	.sunday-tab .mb-8:nth-of-type(even) {
		margin-left: 0px !important;
	}	
	.sunday-tab div.w-72 {
		width: calc(50%) !important;
	}
	#boys .h-96 {
		height: 14rem !important;
	}
	#boys .w-48 {
		width: 14rem;
	}
	.px-5 {
		padding-left: 5px;
		padding-right: 5px;
	}
	.ui-slider {
		width: 96%;
		margin: auto;
	}
	.blacklogo.toplogo {
		margin-top: 5rem !important;
		float: none !important;
	}
	.topcontacts {
		position: absolute;
		left: 5px;
		top: 10px;
		text-align: left !important;
		margin-top: 0 !important;
	}
	.topcontacts a {
		margin-right: 10px;
	}
	#boys .xl\:text-7xl {
		font-size: 2.3rem;
	}
	#boys .text-3xl {
		position: absolute;
		left: 150px;
		font-size: 1.2rem;
		top: 1px;
		padding-right: 0;
		width: 190px !important;
	}
	.footlogo .list-none {
		text-align: left !important;
	}
	.footlogo .px-12 {
		padding-left: 3rem !important;
		padding-right: 3rem !important;
	}
	.add_filter_but, .add_filter_but_act {
		position: absolute;
		top: -64px;
		right: 5px;
		margin-right: 0 !important;
	} 
	.filtr {
		margin-right: 2rem !important;
	}
	#boys .xl\:text-7xl {
		font-size: 2rem !important;
		margin-bottom: 1rem !important;
	}
	.cupertino-pane-wrapper .h-72 {
		height: 30rem !important;
	}
	.cupertino-pane-wrapper .pane  {
		width: 100% !important;
		max-width: 100% !important;
	}
	.slideholder {
		width: 100% !important;
		max-width: 100% !important;
		margin: auto;
	}
	.maincont {
		display: block;
	}
	.mainsocial {
		position: absolute;
		left: 180px;
		top: -2px;
		width: 120px;
	}
	.mainsocial a {
		margin-top: 0 !important;
		margin-right: 5px !important;
	}
	.sunday-tab div.w-72 .text-xl {
	    font-size: 14px;
   	 line-height: 20px;	
	}
	.cupertino-pane-wrapper .max-w-lg {
		width: 100% !important;
		max-width: 100% !important;
	}
	.cupertino-pane-new {
		padding: 10px 20px;
	}
	.favorities .inline-block {
		display: block;
		margin: auto;
	}
	.favorities .picholder {
		margin-bottom: 1rem;
	}
	.searchinput {
		margin-top: 1rem;
	}
	.searchinput.filtr {
		width: 100% !important;
	}
	#searchform {
		width: 100% !important;
	}
	.genpdf {
		margin-top: 0.75rem;
	}
	body {
		overflow-x: hidden;
	}
}
.cupertino-pane-wrapper .max-w-lg {
	font-size: 20px;
}
.sunday-tab div.w-72 {
    position: relative;
	float: left;
}
.sunday-tab div.w-72 .text-xl {
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    background: rgba(0,0,0,0.5);
    bottom: 0;
    left: 0;
    width: 100%;
    word-wrap: break-word;
    padding: 10px 10px 10px 10px;

}
.sunday-tab .mx-8 {
	margin-bottom: 0;
}
.sunday-tab .text-gray-600 svg {
	color: rgba(247, 197, 9, var(--tw-text-opacity));
}
.outline {
	border-top: 2px solid #000;
	width: 100%;
	height: 2px;
}

#sunday .sunday-tab>:nth-child(3) {
	border-bottom: 2px solid #000;
}
.embla {
  	overflow: hidden;
	position: absolute;
	z-index: 0;
	height: 100%;
	width: 100%;
}
.embla__container {
  	display: flex;
	height: 100%;
}
.embla__slide {
  	position: relative;
  	flex: 0 0 100%;
	height: 100%;
	background-size: cover !important;
	background-position: center !important;
	
}
.embla__slide img {
	width: 100%;
	visibility: hidden;
	
}
.welcome-text {
	z-index: 2;
	position: relative;
}
.truehidden {
	display: none !important;
}
.filtershow, .filterhide {
	display: inline-block;
	margin-bottom: 30px;
	text-decoration: underline;
	font-size: 24px;
}
.filtershow:hover, .filterhide:hover {
	text-decoration: none;
}
.embla__viewport {
	height: 100%;
}
.add_filters {
	display: none;
	margin-top: 15px;
}
.add_filter_but {
	float: right;
	text-decoration: underline;
	display: none;
	text-align:right;
	font-size: 24px;
	margin-right: 4rem;
}
.add_filter_but_act {
	float: right;
	text-decoration: underline;
	display: none;
	text-align:right;
	font-size: 24px;
	margin-right: 4rem;
}
select {
	background: #FFF;
	padding: 5px;
	border-radius: 3px;
	-webkit-appearance:none;
	color: #000 !important; 
}
.darkmode select, .darkmode option {
	color: #000 !important;
}
.blacklogo {
	margin: auto;
	width: 200px;
	background: url(/assets/detikino_logo_word_white-school_custom.png) center no-repeat;
	height: 40px;
	background-size: contain;
}
.footlogo .blacklogo {
    background: url(/assets/detikino_logo_word_white-school_custom.png) center no-repeat;
	background-size: contain;
}
.blacklogo.toplogo {
	background: url(/assets/newlogo.png) center no-repeat;
    width: 140px;
	height: 120px;
	background-size: contain;
	margin: 3rem 0 0 0;
	display:inline-block;
	float: left;
}
#boys .text-3xl {
	display: inline-block;
	float: left;
	width: 350px;
	margin-top: 3.5rem;
}
#boys .xl\:text-7xl {
	font-size: 3rem;
}
.topcontacts {
	margin-top: 4rem;
}
.clear {
	clear:both;
}

.w-48 {
	width: 14.8rem
}
.mx-8 {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0.5rem;
}
.h-56 {
	height: 17rem;
}
.topcontacts {
	float: right;
	margin-right: 4rem;
	text-align: right;
}
.topcontacts a {
	display: block;
}
.topcontacts a.menu-social {
	display: inline-block;
	margin-top: 5px;
}
.topcontacts a.menu-social {

	color: #000;
}
.topcontacts a.menu-social:hover {
	border-bottom-color:#FFF;
}
.footlogo .list-none {
	text-align: right;
}
.footlogo .w-4\/5 {
	width: 100%;
}
.footlogo .mr-auto {
	margin-right: 0;
}
.footlogo .px-12 {
	padding-left: 2rem;
	padding-right: 4rem;
}
.topcontacts .vk-link:hover svg path {
	fill:#FFF;
}
#ageinputmin, #heightinputmin, #heightinputmax, #ageinputmax {
	padding: 5px;
	background: #FFF;
	outline: none;
	border-radius: 3px;
	width: 50px;
	text-align: center;
	color: #000 !important;
}
.swipeslider .sw-slide > img {
	width: 100%;
}
.filtr {
	display: inline-block;
	margin-right: 4rem;
}
.cupertino-pane-wrapper .w- {
	width:100%;
}
.cupertino-pane-wrapper .h-80 {
	height:40rem;
}
.darkmode * {
	color:#FFF !important;
}
.darkmode.bg-gray-100  {
	background-color: #171F22 !important;
}
#boys:not(:target) .sunday-wrapper>a:first-child h1 {
	color: #FFF!important;

}
#boys:not(:target) .sunday-wrapper>a:first-child h1:hover {
	color: #FFF!important;

}
#boys:target .sunday-wrapper>a:last-child h1 {
	color: #FFF!important;	
}
#boys:not(:target) .sunday-wrapper>a:last-child h1 {
	color: #718096!important;	
}
#boys:not(:target) .sunday-wrapper>a:last-child h1:hover {
	color: #FFF!important;	
}
#boys:target .sunday-wrapper>a:first-child h1 {
	color: #718096!important;
}#boys:target .sunday-wrapper>a:first-child h1:hover {
	color: #FFF!important;	
}
.cupertino-pane-wrapper .pane {
	background-color: #364147;;
	max-width: 70%;
}
.cupertino-pane-wrapper button {
	background-color: #718096!important;
}
.cupertino-pane-wrapper button:hover {
	color: #718096!important;
	background-color: #FFF !important;
}

.cupertino-pane-wrapper .max-w-lg {
	max-width: calc(50% - 2rem);
}
.destroy-button:hover {
	cursor: pointer;
}
body::-webkit-scrollbar {
  width: 0px;               /* width of the entire scrollbar */
  font-family:'PoiretOne' !important;	
}
@media (min-width: 640px) {
	.cupertino-pane::-webkit-scrollbar {
		width: 10px;
	}
	.cupertino-pane-wrapper .pane {
		margin-left: 0 !important;
		max-width: 85% !important;
	}
	.cupertino-pane::-webkit-scrollbar-track {
	  background: rgba(62,63,66,1);        /* color of the tracking area */
	}
	.cupertino-pane-new::-webkit-scrollbar {
		width: 10px;
	}
	.cupertino-pane::-webkit-scrollbar-thumb {
	  background-color: #FFF;    /* color of the scroll thumb */
	  border-radius: 20px;       /* roundness of the scroll thumb */
	  border: 3px solid rgba(62,63,66,1);  /* creates padding around scroll thumb */
	}
	.cupertino-pane-new::-webkit-scrollbar-track {
	  background: rgba(62,63,66,1);        /* color of the tracking area */
	}

	.cupertino-pane-new::-webkit-scrollbar-thumb {
	  background-color: #FFF;    /* color of the scroll thumb */
	  border-radius: 20px;       /* roundness of the scroll thumb */
	  border: 3px solid rgba(62,63,66,1);  /* creates padding around scroll thumb */
	}
	.slideholder {
		float: left;
		margin-right: 2em !important;
		position: relative;
		top: calc(48vh - 29.5rem);
		margin-top: 1rem !important;
	}
	.videos {


		position: relative;
		top: 20px;
	}
	.cupertino-pane-wrapper .max-w-lg {
		float: left;
	}
	.calltoview {
		max-width: 500px;
		margin: auto;
		position: relative;
		top:20px;
	}
	.slideholder.h-72 {
		height: 100vh !important;
		max-height: 55rem !important;
		margin-top: 1rem;
	}
	#boys .text-3xl {
		padding-top: 0;
		position: relative;
		top: -10px;
	}
	.cupertino-pane-wrapper.cuperwidth .pane {
		max-width: 100% !important;
		left: 0px;
	}
	.cupertino-pane-new {
		padding: 10px 20px;
	}
	.favorities .calltoview {
		max-width: 80%;
		display: block;
		margin-left: 0;

	}
	.favorities .calltoview input, .favorities .calltoview button {
		width: 20%;
		float: left;
		margin-right: 2%
	}
}
.cupertino-pane-new {
	display: none;
}
.cupertino-pane-wrapper .destroy-button {
	right: 30px;
}
.darkmode input {
	color: #000 !important;
}
.photo_arr {
	display: none;
}
.slideholder {
	width: 50%;
	max-width: 50%;
	margin: auto;
}
.picdown {
	position: absolute;
	bottom: 5px;
	right: 5px;
	z-index: 20;
	color: #FFF;
	padding: 5px;
	background: url(/assets/down.png) center no-repeat rgba(0,0,0,0.5);
	background-size: cover;
	width: 40px;
	height: 40px;
	text-align: center;
	
}
.sw-bullet {
	z-index: 10;
	bottom: 4% !important;
}
.break {
	display: block;
	margin-bottom: 10px;
}
.cupertino-pane .flex-row {
	display: flex;
}
.cupertino-pane .mr-2 {
	padding: 0 0px 0 20px;
}
.cupertino-pane .mb-2 {
	padding: 0;
}
.mark, .mark:focus {
	position: absolute;
	top: 50%;
	margin-top: -15px;
	right: 20px;
	background: url(/assets/stargray.png) center no-repeat;
	background-size: cover;
	width: 30px;
	height: 30px;
}
.mark:hover {
	cursor: pointer;
}
.mark.active {
	background: url(/assets/star.png) center no-repeat;
	background-size: cover;
	cursor: pointer;
}
.fullname {
	position: relative;
}
.fullname:hover {
	cursor: default;
}
.selected {
    position: fixed;
    z-index: 12;
    right: 0;
    top: 53px;
    width: 48px;
    height: 48px;
    background: url(/assets/star.png) center no-repeat;
	background-size: 38px;
    opacity: 0.6;
    transition: .15s all;
	display: none;
}
.selected:hover {
	cursor: pointer;
	opacity: 1;
}
.favorities .mark {
	height: 30px;
	width: 30px;
	background: url(/assets/remove.png) center no-repeat;
	background-size: contain;
}
.favorities .forcopy {
	position: relative;
}
.favorities .fullname {
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    background: rgba(0,0,0,0.5);
    bottom: 0;
    left: 0;
    width: 100%;
    word-wrap: break-word;
    padding: 10px 10px 10px 10px;
}
#searchform {
	padding: 5px;
	border-radius: 3px;
	width: 260px;
}
.exptoggle {
	text-decoration: underline;
	text-align: center;
	margin-bottom: 0.5rem;
}
.exptoggle:hover {
	cursor: pointer;
}
.experience {
	display: none;
}
.addtoggle {
	text-decoration: underline;
	text-align: center;
	margin-bottom: 0.5rem;
}
.addtoggle:hover {
	cursor: pointer;
}
.additional {
	display: none;
}
.videos iframe {
	width: 100%;
	height: 400px;
}
.favorities .mx-8 {
	margin-bottom: 0;
}
.storenames {
	display: none;
}
.sending {
	background: #171F22;
	display: none;
	width: 300px;
	height: 80px;
	z-index: 50;
	position: fixed;
	top: 50%;
	margin-top: -40px;
	left: 50%;
	margin-left: -150px;
	text-align: center;
	line-height: 80px;
}
.generating {
	background: #171F22;
	display: none;
	width: 300px;
	height: 80px;
	z-index: 50;
	position: fixed;
	top: 50%;
	margin-top: -40px;
	left: 50%;
	margin-left: -150px;
	text-align: center;
	padding-top: 14px;
}
.hidecontent {
	visibility: hidden;
	height: 0px;
}
#pdfexport {
	clear: both;
	display: block;
	position: relative;
}
.genpdf {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}
.filtercheckbox {
	margin-bottom: 0.75rem;
}
.filtercheckbox input {
	margin-right: 5px;
	position: relative;
	top: 1px;
}
.filtercheckbox label {
	margin-right: 20px;
	display: inline-block;
}
.rub {
	opacity: 0.7;
	margin-right: 0.5rem;
	display:inline-block;
}
.yellow, .yellow strong {
	display: inline-block;
	color: #f7c509 !important;
}
.yellow.nomar {
	margin-left: 0;
}
.justify-center strong {
	font-weight: 400 !important;
	width: 40px;
	display: inline-block;
}
.yellow strong {
	width: 40px;
	margin-left: 0.5rem;
}